@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500;900&display=swap');

* {
  box-sizing: border-box;
  /* font-family: 'Work Sans', sans-serif;
  font-weight: 300; */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  background-color: #1e1e1e;
}

p {
  margin: 8px;
}

button {
  background: none;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: rgba(238, 238, 238, 0.4);
  color: rgba(0, 0, 0, 0.6);
  transition: .2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.2);
  color: rgba(0, 0, 0, 1);
  transition: .2s ease-in-out;
}

button:active {
  padding: 4px 7px;
  transition: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}